<div class="amp-content-panel" id="rgp-set-index">
    <div class="amp-content-header clearfix">
        <!-- Breadcrumb / Summary info-->
        <ul class="header-nav-sub clearfix">
            <li><a ui-sref="rpgindex" ui-sref-active="active" href="#/rpgindex" id="tri-0-1-0" class="header-subnav-item" >铺位信息</a></li>
            <li><a ui-sref="rpgset" ui-sref-active="active" href="#/rpgset" id="tri-0-1-1" class="header-subnav-item">租金包设定</a></li>
            <li><a ui-sref="managefee" ui-sref-active="active" href="#/managefee" id="tri-0-1-2" class="header-subnav-item">物业管理费设定</a></li>
        </ul>
    </div><!--amp-content-header-->
    <div class="amp-block">
        <span class="amp-tipsnote" style="position: relative;float:left; top:5px;background-color:transparent;margin-left:-3px;margin-bottom:35px;"><em class="ys-amp-icon ys-icon-tips ys-icon-tips-hover" style="left:5px;margin-top:-11px;"></em>体验版数据为模拟数据，请勿引用。可提供数据整合服务</span>

        <div class="amp-table-wrapper" id="rpg-set-info">


            <table class="table table-right-bordered amp-table" >
                <thead>
                <tr>
                    <th>建筑面积(m&sup2)</th>
                    <th>总租金(万)</th>
                    <th>平均租金(元/m&sup2/月)</th>
                    <th>开业时间</th>
                    <th>套内面积(m&sup2)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-info-main">
                    <td>
                        <h3>{{sCtrl.setData[0].value | number:2}}</h3>
                    </td>
                    <td>
                        <h3>{{sCtrl.setData[1].value | number:2}}</h3>
                    </td>
                    <td>
                       <h3>{{sCtrl.setData[2].value | number:2}}</h3>
                    </td>
                    <td>
                        <h3>{{sCtrl.setData[3].value}}</h3>
                    </td>
                    <td>
                       <h3>{{sCtrl.setData[4].value | number:2}}</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--end ys-finacial-income-table-->
    </div><!--ys-block-->
    <div class="amp-block-pd">
          <div class="btn-wrapper">
              <a href="amp_main_solo.html?projectid={{curProject}}#/rpgresult" class="btn btn-default amp-btn amp-btn-reverse" target="_blank">查看租金包</a>
            <a href="amp_main_solo.html?projectid={{curProject}}" class="btn btn-default amp-btn" target="_blank" style="margin-left:13px;">推算</a>
        </div>

    </div>

    <div class="amp-block-pd">
        <div class="amp-block-title">
            <h3 class="col-xs-3">各楼层总租金</h3>
        </div>
        <div class="amp-table-wrapper-swiper" id="rpg-floor-table-wrapper">
            <div class="ys-table-fixed-top" style="padding-left:100px;">
                <div class="ys-table-static ys-table-static-left" style="width:100px;">
                    <table class="table  amp-table table-hover table-header-fixed" style="width:100%;">
                        <thead>
                            <tr>
                                <th>铺位号</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rpg-floor-table-head">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table  amp-table table-hover table-header-fixed" style="width:2000px;" >
                                <thead>
                                <tr>
                                    <th>GLA</th>
                                    <th ng-repeat="(k,v) in sCtrl.rpgResultData.floors[0].yearly">
                                        第{{$index+1}}年
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <!-- <div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
            </div>
            <div class="ys-table-main" style="padding-left:100px;">
                <div class="ys-table-static ys-table-static-left" style="width:100px;">
                    <table class="table  amp-table table-hover" style="width:100%;">
                        <tbody>
                        <tr  ng-repeat="floor in sCtrl.rpgResultData.floors" class="data-index data-index-{{$index}}">
                            <th><span title="{{floor.floorIndex}}">{{floor.floorIndex}}</span></th>
                            <th><span>合计</span></th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rpg-floor-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table  amp-table table-hover"  style="width:2000px;">
                                <tbody>
                                <tr ng-repeat="floor in sCtrl.rpgResultData.floors" class="data-index data-index-{{$index}}">
                                    <td><span>{{sCtrl.getAvg(floor)|number:2}}</span></td>
                                    <td ng-repeat="(k,v) in floor.yearly">{{v|number:2}}</td>
                                </tr>
                                <tr>
                                    <td><span>{{sCtrl.getColAvg("avg") | number:2}}</span></td>
                                    <td ng-repeat="(k,v) in sCtrl.rpgResultData.floors[0].yearly">{{sCtrl.getColAvg($index) | number:2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div><!--swiper container-->
            </div>
        </div>
    </div><!--ys-block-->

</div><!-- contentpanel -->


