<div class="right-content-wrapper" id="rent-package-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <h3>录入</h3>
    </div>

    <div class="right-content">
        <table class="table table-no-bordered table-input-typeA">
            <tbody>
                <tr>
                    <td>
                        <div class="input-wrapper">
                            <label>铺位号</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>位置</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">位置A</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">位置B</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">位置C</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">位置D</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>楼层</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>建筑面积</label>
                            <input type="text" value=""/>
                        </div>
                    </td>
                </tr><!--tr-->

                <tr>
                    <td>
                        <div class="input-wrapper">
                            <label>建筑编号</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>套内面积</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>物业类型</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">物业类型A</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">物业类型B</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">物业类型C</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">物业类型D</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>业态</label>
                            <input type="text" value=""/>
                        </div>
                    </td>
                </tr><!--tr-->

                <tr>
                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>产权性质</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">产权性质A</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">产权性质B</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">产权性质C</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">产权性质D</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="block clearfix">
            <div class="btn-wrapper pull-right">
                <a href="javascript:void(0)" class="btn btn-default amp-btn" id="btn-save">保存</a>
                <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="btn-continue">继续录入</a>
            </div>
        </div>
    </div>
</div>