<div class="right-content-wrapper" id="rent-package-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <h3>录入</h3>
    </div>

    <div class="right-content">
        <table class="table table-no-bordered amp-table table-input-typeA">
            <tbody>
                <tr>
                    <td>
                        <div class="input-wrapper">
                            <label>铺位号</label>
                            <input type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="input-wrapper">
                            <label>楼层</label>
                            <input type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>位置</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1">主入口</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">主立面外墙</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">次入口</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">主通道</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">侧面面街</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">后街</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>物业类型</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1">MALL</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1">商业街</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>


                </tr><!--tr-->

                <tr>
                    <td>
                        <div class="input-wrapper">
                            <label>建筑面积</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>套内面积</label>
                            <input type="text" value=""/>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper input-wrapper-select">
                            <label>产权性质</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >自持</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >销售</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >销售返租</a></li>

                                </ul>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="input-wrapper">
                            <label>业态</label>
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >超市</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >影院</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >时装</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >餐饮</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >娱乐</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >配套</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >儿童</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" >其他</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr><!--tr-->

            </tbody>
        </table>
        <table class="table table-no-bordered amp-table table-input-typeA table-input-typeYearly">
            <thead>
                <tr>
                    <th colspan="5" class="table-title">租金标准<em>(元/m&sup2/月)</em></th>
                </tr>
                <tr>
                    <th>第一年</th>
                    <th>第二年</th>
                    <th>第三年</th>
                    <th>第四年</th>
                    <th>第五年</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                    <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                    <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                    <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                    <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-no-bordered amp-table table-input-typeA table-input-typeYearly">
            <thead>
            <tr>
                <th colspan="5" class="table-title">物业管理费标准<em>(元/m&sup2/月)</em></th>
            </tr>
            <tr>
                <th>第一年</th>
                <th>第二年</th>
                <th>第三年</th>
                <th>第四年</th>
                <th>第五年</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
                <td> <div class="input-wrapper"><input type="text" value=""/></div> </td>
            </tr>
            </tbody>
        </table>
        <div class="block clearfix">
            <div class="btn-wrapper pull-right">
                <a href="javascript:void(0)" class="btn btn-default amp-btn" id="btn-save">保存</a>
                <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="btn-continue">继续录入</a>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/views/datatools/rpgindex_rpanel.js"></script>
<script>
    $(document).ready(function(){
        //这里有公共方法，确定业务后 单独放到一个文件

        rpg_rpanel.dropdownSelector();
        rpg_rpanel.init();
    });

</script>