<div class="amp-content-panel" id="rgp-set-index">
    <div class="amp-content-header clearfix">
        <!-- Breadcrumb / Summary info-->
        <ul class="header-nav-sub clearfix">
            <li><a href="../amp/amp_asset_irr_swiper-finacial.html" id="tri-0-1-0" class="header-subnav-item" target="#page-frame">铺位信息</a></li>
            <li><a href="../amp/amp_input_investment.html" id="tri-0-1-1" class="header-subnav-item  active" target="#page-frame">租金包设定</a></li>
        </ul>
    </div><!--amp-content-header-->
    <div class="ys-block">
        <div class="amp-table-wrapper" id="rpg_set_info">
            <table class="table table-right-bordered amp-table" >
                <thead>
                <tr>
                    <th>建筑面积(m&sup2)</th>
                    <th>总租金(万)</th>
                    <th>平均租金(元/m&sup2/月)</th>
                    <th>开业时间</th>
                    <th>套内面积(m&sup2)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-info-main">
                    <td>
                        <h3>128,888</h3>
                    </td>
                    <td>
                        <h3>5,803</h3>
                    </td>
                    <td>
                       <h3>116</h3>
                    </td>
                    <td>
                        <h3>2015-10-01</h3>
                    </td>
                    <td>
                       <h3>9,999</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--end ys-finacial-income-table-->
    </div><!--ys-block-->
    <div class="amp-block-pd">
        <div class="btn-wrapper">
            <a href="#" class="btn btn-default amp-btn">推算</a>
        </div>
    </div>
</div><!-- contentpanel -->