<div class="amp-content-panel" id="irr-plan">
    <div class="amp-content-header clearfix">
        <!-- Breadcrumb / Summary info-->
        <ul class="header-nav-sub clearfix">
            <li><a href="#" id="tri-0-1-0" class="header-subnav-item active" target="#page-frame">回报测算</a></li>
        </ul>
    </div><!--amp-content-header-->
    <div class="ys-block">
        <div class="amp-table-wrapper-swiper" id="irr-plan-table-wrapper">
            <div class="ys-table-fixed-top" style="padding-left:160px;">
                <div class="ys-table-static ys-table-static-left" style="width:375px;">
                    <table class="table table-no-bordered amp-table table-hover table-header-fixed" style="width:100%;">

                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="irr-plan-table-head">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-no-bordered amp-table table-hover table-header-fixed" style="width:1500px;" >

                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <!-- <div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
            </div>
            <div class="ys-table-main" style="padding-left:160px;">
                <div class="ys-table-static ys-table-static-left" style="width:375px;">
                    <table class="table table-no-bordered amp-table table-hover" style="width:100%;">

                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="irr-plan-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-no-bordered amp-table table-hover"  style="width:1500px;">

                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div><!--swiper container-->


            </div>
        </div>
    </div><!--ys-block-->
</div><!-- contentpanel -->