@import "compass/css3";

body {
    background-color: #EEEEEE;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}
.header {
    font-size: 43px;
    color: #000000;
    line-height: 52px;
    text-align: center;
    margin: 50px 0;
    position: relative;
    z-index: 1;
    font-weight: 300;
@include transition(all 0.3s ease);
.smaller {
    font-size: 23px;
    line-height: 1;
}
}
a {
    color: #28AEFD;
    text-decoration: none;
}
.start-btn-wrapper {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    z-index: 1;
@include transition(all 0.3s ease);
a {
    display: inline-block;
    border: 1px solid #28AEFD;
    padding: 5px 15px;
}
}
.slide-header {
    font-weight: 100;
    font-size: 33px;
    color: #222222;
    margin-bottom: 15px;
    margin-top: 25px;
}
.button-wrapper a {
    display: inline-block;
    border: 1px solid #28AEFD;
    padding: 5px 15px;
    margin: 15px;
    font-weight: 300;
}
// styles for animation (ngAnimate)
.slide-top {
@include transform(translate(0%, -150%));
    opacity: 0;
}
.slide-bottom {
@include transform(translate(0%, 150%));
    opacity: 0;
}
[ui-view] {
.inner-wrapper {
    height: 100%;
    padding: 20px;
    background-color: #FFF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
}
position: absolute;
width: 500px;
margin: 0 auto;
top: 40px;
left: 0;
right: 0;
height: 160px;
@include transition(all 0.45s cubic-bezier(0.350, 0.330, 0.250, 1.045));
opacity: 1;
&.ng-enter {
 @include transform(translate(150%, 0%));
     opacity: 0;
.view-back & {
@include transform(translate(-150%, 0%));
}
}
&.ng-enter-active {
     opacity: 1;
 @include transform(translate(0%, 0%));
.view-back & {
@include transform(translate(0%, 0%));
}
}
&.ng-leave {
 @include transform(translate(0%, 0%));
     opacity: 1;
.view-back & {
@include transform(translate(0%, 0%));
}
.view-to-home & {
@include transform(scale(1, 1));
}
}
&.ng-leave-active {
 @include transform(translate(-150%, 0%));
     opacity: 0;
.view-back & {
@include transform(translate(150%, 0%));
}
.view-to-home & {
@include transform(scale(2, 2));
}
}
}