<div class="amp-blocks">
    <div class="amp-sets">
        <div class="col-xs-4">
            <div class="amp-set">
                <h3>方案1</h3>
                <table class="table amp-table-nobordered">
                    <tbody>
                        <tr>
                            <th>IRR</th>
                            <td><span class="text-em">12%</span></td>
                        </tr>
                        <tr>
                            <th>净现值</th>
                            <td><span><i>12,756,512</i>(万元)</span></td>
                        </tr>
                        <tr>
                            <th>增值</th>
                            <td><span><i>12,756,512</i>(万元)</span></td>
                        </tr>
                        <tr>
                            <th>收购价</th>
                            <td><span><i>12,756,512</i>(万元)</span></td>
                        </tr>
                        <tr>
                            <th>贷款</th>
                            <td><span><i>12,756,512</i>(万元)</span></td>
                        </tr>
                        <tr>
                            <th>退出年数</th>
                            <td><span><i>3</i>(年)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">
            <div class="amp-set-new">
                    <h3><em class="ys-icon ys-icon-plus"></em>新增模拟测算</h3>
                    <span>最多模拟三个方案</span>
            </div>
        </div>
    </div>
</div><!--amp-blocks-->
